nav{
    height: 6rem;
    width:100%  ;
    background-color:#fff;
    position: fixed;

}

.logo {
    width:80px;
    height:80px;
    cursor:pointer;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height:100%;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    text-decoration: none;
    height: 100%;
    flex-flow: column nowrap;
}

.title {
    font-size: 2em;
    font-weight: bold;
    cursor:pointer;
    margin-top: 10px;
}

.menu {
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.menu-item {
    display: inline-block;
    padding: 0.5rem 1rem;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    height:100%;

    &:hover {
        background-color: #555;
        color: #fff;
    }
}

.user-controls {
    display:flex;
    justify-content: center;
    height:100%;
}

.icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
